<config>
    <rootDir>/home/kevin/Downloads/FTPRoot</rootDir>
    <users>
        <user>
            <username>stu1</username>
            <password>000000</password>
        </user>
        <user>
            <username>stu2</username>
            <password>111111</password>
        </user>
    </users>

</config>